@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="card w-50 text-center" style="margin: 0 auto">
    <div class="card-body">
        Тестовое задание для SystemGlobalServices <br>
        Выполнил: <i>Платон Дмитрин</i><br>
        Email: dmitrin.platon@yandex.ru<br>
        tg: plaaaaton<br>
    </div>
</div>