<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <pages>
            <namespaces>
                <add namespace="System.Web.Optimization"/>
            </namespaces>
        </pages>
        <compilation debug="true"  />
        <httpRuntime  />
        <customErrors mode="On" redirectMode="ResponseRewrite">
            <error statusCode="404" redirect="~/404.html"/>
        </customErrors>
    </system.web>
    <system.webServer>

        <httpErrors errorMode="Custom">
            <remove statusCode="404"/>
            <error statusCode="404" path="404.html" responseMode="Redirect"/>
        </httpErrors>
    </system.webServer>
    <appSettings>
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
</configuration>
